.header {
  position: relative;
  margin-bottom: 2rem;
  color: #fff;
}

.header-content {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 2rem;
  padding: 2rem;
  text-align: center;
  background: rgba(0,0,0,0.3);
}

.header-title {
  font-size: 2.5em;
  font-family: Georgia, serif;
  font-style: italic;
}

.header-image {
  display: block;
  max-width: 100%;
  border-radius: 0 0 1rem 1rem;
}
